* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    padding: 0;
    margin: 0;
    background-image: url(img/background.png);
    background-size: cover;
    background-attachment: fixed;
    line-height: 1.5;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

header {
    width: 100%;
    padding: 0;
    margin: 0;
}

.header-container {
    background-image: url(img/background-blur-dark.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-between; /* Espaça corretamente os itens à esquerda e à direita */
    align-items: center; /* Alinha verticalmente */
    padding: 10px 20px; /* Ajuste de espaçamento */
}


.img-container {
    flex: 1;
}

.nav-container {
    margin-top: 10px;
    padding: 10px;
    flex: 4;
}

header nav ul li {
    display: inline;
    margin: 0 30px;
    font-weight: 600;
    font-size: x-large;
}

header nav {
    display: flex;
    align-items: center; /* Alinha verticalmente os itens */
    justify-content: flex-end; /* Alinha tudo à direita */
    gap: 20px; /* Espaçamento entre os itens */
}


header img {
    padding: 13px;
    height: 6rem;
}

/* Botão de hambúrguer (escondido por padrão em telas grandes) */
.navbar-toggle {
    margin: 0; /* Remove margens desnecessárias */
    margin-bottom: 10px;
    font-size: 24px;
    background: none;
    border: none;
    color: rgb(241, 255, 85);
    cursor: pointer;
    display: none;
}


a {
    color: aliceblue;
    text-decoration: none;
}

.main-container {
    display: flex; /* Use flexbox to align main and aside side by side */
    flex: 1; /* Make main-container take up remaining space */
    padding: 2%; /* Internal spacing for main content */
    margin-top: 0%; /* Offset for fixed header */
    margin-bottom: 0;
    padding-bottom: 0;
}




.main-container main {
    height: auto;
    border-radius: 15px; /* Add border radius */
    padding: 50px;
    background-color: black;
    color: aliceblue;
    flex: 5;
    margin-bottom: 0;
}

.main-container main h1 {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 4rem;
    
}

.typewritter {
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
}

.hello-world {
    display: flex;
    margin-bottom: 20px;
}

  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(255, 255, 255); }
  }



aside {
    display: flex; /* Ativa o flexbox */
    flex-direction: column; /* Alinha os itens verticalmente em coluna */
    justify-content: center; /* Centraliza os itens verticalmente */
    align-items: center; /* Centraliza os itens horizontalmente */
    margin-left: 2%;
    height: auto;
    border-radius: 15px; /* Add border radius */
    padding: 25px;
    background-image: url(img/background-blur.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: aliceblue;
    flex: 1.5;
}

aside img {
    margin-bottom: 0px;
    height: 130px;
    border-radius: 50%;
}

aside h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: xx-large;
}

aside p {
    margin-bottom: 10px;
    font-size: 1rem;
    text-indent: 8%;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0;
}

.linkedin-logo {
    height: 2.5rem;
    margin-bottom: 0;
}

.github-logo {
    height: 2.5rem;
    margin-bottom: 0;
}

.email-logo {
    height: 2.5rem;
    margin-bottom: 0;
}



.page-content p {
    height: 2000px;
    filter: opacity(100%);
    -webkit-filter: opacity(100%);
}

.second-main-container {
    display: flex; /* Use flexbox to align main and aside side by side */
    flex: 1; /* Make main-container take up remaining space */
    padding: 30px; /* Internal spacing for main content */

}

.second-main-container main {
    width: 100%;
    height: auto;
    border-radius: 15px; /* Add border radius */
    padding: 50px;
    background-color: black;
    color: aliceblue;
    margin-top: 0;
    background-image: url(img/background-blur.jpg);
    background-size: cover;
    background-attachment: fixed;
    
}

.second-main-container h1 {
    margin: 10px;
    margin-top: 0;
}

.second-main-container h2 {
    margin: 20px;
}

.second-main-container li {
    margin: 10px;
}

footer {
    display: flex;
    justify-content: flex-end;
    height: 70px;
    text-align: right;
    padding: 10px;
    background-color: black;
    color: white;
}

footer img {
    width: 10%;
    height: auto;
}

/*Main de outras páginas*/

.secao-competencias {
    display: flex;
}

.out-main-container {
    display: flex; /* Use flexbox to align main and aside side by side */
    flex: 1; /* Make main-container take up remaining space */
    padding: 30px; /* Internal spacing for main content */

}

.out-main-container main {
    width: 100%;
    height: auto;
    border-radius: 15px; /* Add border radius */
    padding: 50px;
    background-color: black;
    color: aliceblue;
    margin-top: 0;
    background-image: url(img/background-blur.jpg);
    background-size: cover;
    background-attachment: fixed;
    
}

.out-main-container h1 {
    margin: 10px;
    margin-top: 0;
}

.out-main-container h2 {
    margin: 20px;
}

.out-main-container li {
    margin: 10px;
}

.out-main-container p {
    padding-left: 15px;
}


@media (max-width: 768px) {
    .navbar-links {
        text-decoration: underline white;
        gap: 10px;
        display: none; /* Esconde os links por padrão */
        flex-direction: column;
        background-color: rgb(241, 255, 85);
        position: absolute;
        padding: 10px;
        top: 40px;
        right: 10px;
        width: 90%;
        border-radius: 5px;
        overflow: hidden;
        overflow-y: auto; /* Adiciona rolagem se os links ultrapassarem o limite */
        }

        .navbar-links li {
            font-size: 1rem;
            color: black;
        }

    .header-container {
        height: 3rem;
    }

    header img {
        height: 4rem;
        padding: auto;
        margin-top: 5px;
    }

    .header-container {
        padding: 0;
    }

    
    .navbar-links.active {
        display: flex; /* Exibe os links quando ativo */
      }
    
      .navbar-toggle {
        display: block; /* Mostra o botão de hambúrguer */
      }



    .main-container main h1 {
        font-family: "JetBrains Mono", monospace;
        font-weight: 100;
        font-style: normal;
        font-size: 2rem;
        
    }

    aside {
        margin: 5%;
        margin-top: 2%;
    }
    
    aside h1 {
        font-size: xx-large;
    }

    .main-container main {
        margin: 5%;
        height: 320px;
        border-radius: 15px; /* Add border radius */
        padding: 30px;
        background-color: black;
        color: aliceblue;
        flex: 5;
        margin-bottom: 0;
    }



    .main-container{
        justify-content: center;
        flex-direction: column;
        gap: 20px; /* Espaçamento entre os itens */
    }

    .second-main-container main{
        padding: 10px;
    }

    .second-main-container main li{
        margin: 20px;
    }

    footer img {
        width: 35%;
        height: auto;
    }

    .secao-competencias {
        display: block;
    }

    .out-main-container{
        padding: 0;
        padding-top: 0; 
        padding-bottom: 0;
    }


    .out-main-container main{
        padding: 20px;
        border-radius: 0;
        font-size: small;
    }

    .out-main-container h1{
        font-size: 180%;
        margin: 0;
        padding: 0;
    }

    .out-main-container main hr{
        margin: 0;
        padding: 0;
        margin-top: 20px; 
        margin-bottom: 20px; 
        opacity: 40%;
    }

    .out-main-container img {
        width: 100%;
    }
}
